//==============================================================================================================
.header {

	&__top {
		background-color: $mainHeaderColor;
		color:#fff;
	}

	&__body {
	}

	&__catalog {
	}
}
//==============================================================================================================
.top-header {
	padding: 0 10px;
	&__container {
		display: flex;
		align-items: center;
		gap: 20px;
		min-height: 40px;
	}

	&__menu {
		flex:1 1 auto;
	}

	&__user {
		display: inline-flex;
		align-items: center;
		font-weight: 300;
		line-height:math.div(22,18) ;
		position: relative;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__user img{
			margin-right: em(15,28);
	}
}
//==============================================================================================================
.menu {

	&__icon {
	}

	&__body {
	}

	&__list {
		display: flex;
		flex-wrap:wrap;
		@include adaptiveValue("column-gap",50,20);
		row-gap: rem(5);
	}

	&__item {
	}

	&__link {
		font-size: rem(15);
		line-height: math.div(20,16);
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
//==============================================================================================================
.burger {
	display: none;
	@media(max-width:$mobile){
		display: block;
		position: relative;
		flex:0 0 30px;
		height: 30px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after{
			content: "";
			transition: all 0.3s easw 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}
		&::before{
			top:0px;
		}
		&::after{
			bottom:0px;
		}
		span{
			top:calc(50% - 1px);
		}
		.menu-open &{
			span{
				transform: scale(0);
			}
			&::before{
				transform: rotate(-45deg);
				transform: calc(50% - 1px);
			}
			&::after{
				transform: rotate(45deg);
				bottom:calc(50% - 1px);
			}
		}
	}
}
//==============================================================================================================
//==============================================================================================================
.body-header {
padding: 10px 0;
	background-color:$mainBgColor ;
	&__container {
		display: flex;
		min-height: rem(70);
		align-items: center;
	}

	&__logo img{
		object-fit: cover;
 	 	width: rem(80);
  		height: rem(80);
	}
	&__logo {
		
	}
	&__search {
		flex:1 1 auto;
		padding-right: rem(20);
		@include adaptiveValue("padding-left",90,20)
	}
}
//==============================================================================================================
.search-header {
	max-width:rem(377);
	background-color: rgba(7,7,7,0.03);
	border-radius: rem(3);
	position:relative;
	border: rem(1) solid rgba(4,4,4,0.5);
	&__button {
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__button img{
		padding: rem(5);
		position:absolute;
		top: rem(5.5);
		left:8px;
		object-fit: cover;
		width: rem(30);
		height: rem(30);
	}
	&__input {
		width:100%;
		background: transparent;
		border-radius: rem(3);
		height: rem(42);
		padding: 0px rem(20) 0px rem(50);
		&::placeholder{
			color:rgba($color: #000000, $alpha: 0.3)
		}
	}
}
//==============================================================================================================
//==============================================================================================================
.actions-header {
	font-size: rem(15);
	display: flex;
	align-items: center;
	column-gap: rem(30);
	&__location {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		margin:0px rem(25) 0px 0px;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__location img{
		object-fit: cover;
		width: rem(30);
		height: rem(30);
		margin:0px em(10,24) 0px 0px;
	}
	&__phones {
	}

	&__cart {
	}
}
//==============================================================================================================
.phones-header {

	&__items {
	}

	&__item {
		
		position:relative;
		display: flex;
	}

	&__phone {
		font-weight: 600;
		line-height: math.div(22,18);
		white-space: nowrap;
		margin-top: 7px;
	}

	&__arrow {
		transition: transform 0.3s ease 0s;
		margin-left: em(17,16);
		&._spoller-active{
			transform: 
			rotate(-180deg)
			translateX(17px);
		}
	}
	&__arrow img{
		margin-left: rem(-15);
		object-fit: cover;
		width: rem(30);
		height: rem(30);
	}
	&__list {
		position: absolute;
		top:100%;
		width:100%;
		left:0;
		border-radius: rem(10);
		background-color: #fff;
		padding: rem(15);
		box-shadow: 0 0 5px black;
		li{
			&:not(:last-child) {margin-bottom: em(5,18);}
		}
	}

	&__callback {
		color:#B31515;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
		
	}
}
//==============================================================================================================
.cart-header {
	display:flex;
	column-gap:5px;
	&__icon{
		position: relative;
	}
	&__icon span{
		background-color: #b3151586;
		font-size:rem(12);
		position: absolute;
		width:rem(14);
		height: rem(14);
		border-radius: 50%;
		display: flex;
		top:0;
		right:0;
		justify-content: center;
		align-items:center ;
		color:black;
	}
	&__icon img{
		flex:0 0 20px;
		object-fit: cover;
		width: rem(30);
		height: rem(30);
		margin-right:rem(10);
		
	}

	&__body{
		line-height: math.div(20,16);
		font-size: rem(16);
	}
	&__summ {
		font-weight: 500;
		&:not(:last-child) {margin-bottom: em(5,16);}
	}

	&__link {
		width: 	50px;
		color: #B31515;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.header {

	&__catalog {
	}
}
//==============================================================================================================
.catalog-header {
	position:relative;
	background-color: $mainHeaderColor;
	color:#fff;
	
	&__container {
	}

	&__menu {
	}
}
//==============================================================================================================
.menu-catalog {
	
	&__list {
		display: flex;
		gap:10px;
		justify-content: space-between;
	}

	&__item {
	}

	&__link {
		min-height: rem(70);
		padding: 0px rem(10);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		transition: color 0.3s ease 0s;
		&::after{
			content: "";
			opacity:0;
			visibility: hidden;
			position: absolute;
			bottom:0;
			left:rem(10);
			height: 1px;
			width:90%;
			background-color: $mainBgColor;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover){
			&:hover{
				color: $mainBgColor;
				&::after{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&._sub-menu-active{
			color: $mainBgColor;
				&::after{
					opacity: 1;
					visibility: visible;
				}
		}
	}

	&__sub-menu {

		width: 100%;
		left:0;
		top: 100%;
		background-color: $mainHeaderColor;

		._sub-menu-show &{

		}
	}
}
//==============================================================================================================
.sub-menu-catalog {

	&__block {
		padding-bottom: rem(30);
		display: none;
		padding: 0px rem(10);
		justify-content: start;
		gap:rem(30);
		transition: opacity 0.3s ease 0s;
		&._sub-menu-open{
			display: flex;
		}

	}
	&__container{

	}


	&__category {
		
		font-size: rem(18);
		line-height: math.div(20,16);
		font-weight: 700;
		padding: rem(25) 0;
		border-bottom: 1px solid rgba(255,255,255,0.3);
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__list{
		flex:1 1 auto;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-bottom: rem(30);
		padding-right:rem(10);
		border-bottom: 1px solid rgba(255,255,255,0.3);
	}
	&__link {
		font-size: rem(16);
		line-height: math.div(20 ,16 );
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__item{

	}
	&__all {
		font-size: rem(16);
		color:$mainBgColor;
		padding-bottom: rem(15);
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
//==============================================================================================================


//==============================================================================================================
//3:32