//====================================================================================================

//====================================================================================================
.wrapper {
}

.main-block {
      background: url("@img/decor/bg.svg") center / cover no-repeat;
		@include adaptiveValue("padding-top",40 ,20 );
		@include adaptiveValue("padding-bottom",60,20 );
		// .main-block__container
		&__container {
		}

		// .main-block__body

		&__body {
			align-items: start;
			display: grid;
			row-gap: rem(40);
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom",43 ,30 );
			}
			@media (min-width:$tablet){
				grid-template-columns: 1fr percent(635,1600);

			}
		}

		// .main-block__slider

		&__slider {
			margin:0px rem(-30);
			padding: 0px rem(30);
			
		}

		// .main-block__wrapper

		&__wrapper {
		}

		// .main-block__slide

		&__slide {
			
		}

		// .main-block__media

		&__media {
		}

		// .main-block__advantages

		&__advantages {
		}
		&__swiper{
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
		&__controll {
		}
}
.controll-main-block {
	display: inline-grid;
	grid-auto-flow: column;
	align-items: column;
	align-items: center;
	gap: rem(20);
	&__dotts {
		display: inline-grid;
		grid-auto-flow: column;
		gap: rem(15);
		transform: translate(0px,10%);
		.swiper-pagination-bullet{
			cursor:pointer;
			height: 40px;
			width:18px;
			position:relative;
			&::after{
				content: "";
				position:absolute;
				height: rem(2);
				top:50%;
				transform:translate(0px, -50%);
				width:100%;
				
				background-color: #fff;
			}
			&::before{
				content: "";
				background-color: orange;
				width:rem(10);
				height:rem(10);
				top:50%;
				left:0;
				border-radius: 50%;
				transform:translate(0px, -50%);
				position:absolute;
				opacity: 0;
			}
		}
		.swiper-pagination-bullet-active{
			width:rem(30);
			&::after{
				background-color: orange;
			}
			&::before{
				opacity: 1;
				left: rem(20);
				transition:left 3s linear 0s;
			}
		}
	}
	&__fraction {
		display: flex;
		color: #fff;
	}
}
.fraction-controll {
	display:flex;
	color:#fff;
	align-items: flex-end;
	font-weight: 600;
	letter-spacing: 0.3em;
	&__current {
		color:orange;
		font-style: rem(24);
		
	}
	&__all {
		font-style: rem(18);
		
	}
}

.slide-main-block {

		// .slide-main-block__content

		&__content {
			color:white;
			padding-top: rem(40);
			@media (max-width:$tablet){
				padding-right: rem(40);

			}
			&:not(:last-child) {
				@include adaptiveValue("margin-botom",60 ,30 );
			}
		}

		// .slide-main-block__title

		&__title {
			font-weight: 700;
			@include adaptiveValue("font-size",36 ,22,992,320,1 );
			line-height: math.div(46 ,36 );
			letter-spacing: 0.03em;
			&:not(:last-child) {
				margin-bottom: em(15,36);
			}
		}

		// .slide-main-block__sub-title

		&__sub-title {
			@include adaptiveValue("font-size",36 ,22,992,320,1 );
			line-height: math.div(46 ,36 );
			&:not(:last-child) {
				margin-bottom: em(30,36);
			}
		}

		// .slide-main-block__text

		&__text {
			@include adaptiveValue("font-size",20 ,16,992,320,1 );
			color:rgba(255,255,255, $alpha: 0.7);
			font-style: rem(20);
			line-height: math.div(30 ,20 );
		}

		// .slide-main-block__button

		&__button {
			margin-top: rem(50);
			@media (max-width:$mobileSmall){
				  width: 100%;
					text-align: center;
			}
		}
}
.media-main-block {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rem(15);
		// .media-main-block__image

		&__image img{
			max-width: 100%;
			margin-top: rem(-60);
			object-fit: cover;
			width: 550px;
			height: 550px;
		}

		// .media-main-block__tips

		&__tips {
		}

		// .media-main-block__tip

		&__tip {

			// .media-main-block__tip_1

			&_1 {
			}

			// .media-main-block__tip_2

			&_2 {
			}

			// .media-main-block__tip_3

			&_3 {
			}
		}
}
.advantages-main {
	display: grid;
	grid-template-columns: repeat(4,auto);
	gap: rem(10);
	justify-content:space-between;
		// .advantages-main__item
	@media (max-width:$tablet){
		  grid-template-columns: repeat(2,1fr);
			justify-item:center;
	}
		&__item {
			display: inline-grid;
			gap:17px;
			text-align: center;
			max-width: 290px;
			grid-template-rows: 77px auto;
		}

		// .advantages-main__icon

		&__icon {
		}

		// .advantages-main__text

		&__text {
			color: #ffff;
			font-weight: 600;
			font-size: 18px;
			line-height: math.div(32 ,20 );
		}
}
//========================================================================================================================================================

.catalog-cards {
	@include adaptiveValue("padding-top",100,30 );
	@include adaptiveValue("padding-bottom",70 ,30 );
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
	}

	&__item {
		
	}
}
.item-catalog-cards {
	box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: 0.15);
	position:relative;
	padding: 30px;
	min-height: 290px;
	&__body {
		position: relative;
		z-index: 2;
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}

	&__link-title {
		display: inline-block;
		font-weight: 600;
		font-size: 24px;
		line-height: math.div(34,24);
		&::after{
			content:'';
			width: 70px;
			background-color: yellow;
			height: 2px;
			display: block;
			margin-top: rem(8);
			transition: all 0.8s ease 0s;
		}
		@media (any-hover: hover){
			&:hover{
				&::after{
					width: 100%;
				}
			}
		}
	}

	&__list {
	}

	&__item {
		position: relative;
		padding: 0 0 0 15px;
		&::before{
			content:'';
			width: 6px;
			height: 6px;
			background-color: yellow;
			border-radius: 50%;
			position:absolute;
			left: 0;
			top: em(8,18);
		}
		&:not(:last-child) {margin-bottom: 10px;}
	}

	&__link {
		font-size: 18px;
		line-height: math.div( 24,18 );
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		text-align: right;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	&__image img{
		object-fit: cover;
		width: 250px;
		height: 250px;
	}
}
//2:21
